[submodule "deps/jsstyle"]
	path = deps/jsstyle
	url = https://github.com/joyent/jsstyle.git
[submodule "javascriptlint"]
	path = javascriptlint
	url = https://github.com/joyent/javascriptlint.git
[submodule "deps/javascriptlint"]
	path = deps/javascriptlint
	url = https://github.com/joyent/javascriptlint.git
